* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/static/img/Captura\ de\ tela\ 2023-11-05\ 203822.png);
    backdrop-filter: blur(2px);
}

/*AQUI VC AJEITA O CONTAINER DO POP-UP*/
.popup_container {
    background-color: #FFFFFF;
    width: 541px;
    height: 666px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
}

/* AQUI É PRA AJEITAR SÓ O HEADER DO FORMS*/
.form-header {

    display: flex;
    justify-content: center;
}

/* AQUI MEXE NO FORMS, CORES, ALINHAMENTO, TAMANHO*/
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

/*AQUI MEXE NOS INPUTS COMO UM GERAL*/
.connect-group {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;

}

/*AQUI MEXE NOS INPUTS TAMBÉM*/
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    height: 100px;
    padding: 10px;
}

/*RESUMINDO, TODOS ESSES .INPUT-BOX SERVE PRA MEXER EM ALGO NOS IMPUTS*/
.input-box input {
    margin: 1rem;
    padding: 1.5rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

/* AQUI ELE DA UMA COR QUANDO BOTA O MOUSE EM CIMA DE CADA IMPUT*/
.input-box input:hover {
    background-color: #eeeeee96;
}

/* AQUI, QUANDO SELECIONA O IMPUT FICA VERDE AO REDOR (ACHEI LEGAL :) */
.input-box input:focus-visible {
    outline: 1px solid #00893C;
}

/* AQUI É A COR PLACEHOLDER*/
.input-box input::placeholder {
    color: #000000be;
}

/*AQUI, BASICAMENTE É O TAMANHO DOS LABEL*/
.input-box label {
    width: 480px;

}

/*AQUI VC MEXE NOS CHECKBOX DA AREA DE INTERESSE*/
.conect-group {
    display: inline;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 10rem;
}


/* AQUI VC MEXE NA DISTANCIA DO CHECKBOX PROS NOMES*/
.input-conect input {
    margin-right: 0.30rem;

}

/* AQUI VC VAI MEXER NA FONTE DOS CHECKBOX */
.input-conect label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;

}


/* TODOS ESSES ABAIXOS SERVEM PARA O BOTÃO "ENTRAR"*/
.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.login-button button {
    width: 30%;
    height: 44px;
    border: none;
    background-color: #D9D9D9;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

}

.login-button button:hover {
    background-color: #bbb9b9;
}

.login-button button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}